body {
    color: #20232a;
}

a {
    color: #20232a;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

.container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.btn {
    padding: 0.5rem 1rem;
    color: #20232a;
    background: #61dafb;
    border: #61dafb 2px solid;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
    border-radius: 10px;
    transition-duration: 0.4s;
}


.btn-lg {
    padding: 1rem 2rem;
    font-size: 2rem;
    width: 16rem;
}

.btn:hover {
    color: #61dafb;
    background: #fff;
}